<!doctype html>
<html>
  <head>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link href='https://fonts.googleapis.com/css?family=Roboto:500,300,700,400' rel='stylesheet' type='text/css'>
    <link href="css/main.css" rel="stylesheet" />

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
     
    
      
  </head>
  <body ng-app="rentApp">
      <div ng-show= true class="development" aria-hidden="false"></div>
    <div class="header">
      <div class="container">
        <h1>Rent house Book </h1>
        <h2>Welcome to RentApp</h2>
      </div>
    </div>

    <div class="main" ng-controller="MainCtrl">
      <div class="container">

        <h1>{{ title }}</h1>
        <h2>{{ promo }}</h2>
          
    <nav class="navbar">
     <div class="nav navbar-nav">
      <form class="form-inline pull-xs-right">
       <input class="form-control" type="text" placeholder="Search" ng-model="query">
       <button class="btn btn-success-outline" type="submit">Search</button>
      </form>
  </div>
    </nav>

        <div ng-repeat="rent in rents | filter:query" class="col-md-6">
           
          <div class="thumbnail">
            <img ng-src="{{ rent.cover }}">
            <p class="title"> {{ rent.name | uppercase }} </p>
            <p class="price"> {{ rent.price | currency }} </p>
            <p class="date">{{ rent.pubdate | date }} </p>
            <p class="location">Place: {{ rent.location }} </p>
            <p class="reference">Ref: {{ rent.reference }} </p>
            <p class="desc">Desc: {{ rent.desc }} </p>
            <div class="rating"> 
            <p class="likes" ng-click="plusOne($index)">+ {{ rent.likes }} </p> 
            <p class="dislikes" ng-click="minusOne($index)">- {{ rent.dislikes }}</p>
            </div>
          </div>
        </div>

      </div>
      
    </div>
    
    <div class="footer">
      <div class="container">
        <h2>Available for iPhone and Android.</h2>
        <img src="img/app-store.png" width="120px" />
        <img src="img/google-play.png" width="110px" />
      </div>
    </div>


    <!-- Modules -->
    <script src="js/app.js"></script>

    <!-- Controllers -->
    <script src="js/controllers/MainCtrl.js"></script>
    <!--<script src="js/controllers/RentCtrld.js"></script> -->
  </body>
</html>
